name: PHUB API test

on:
  push:
    paths: ['src/phub/**']
  pull_request:
    paths: ['src/phub/**']
  workflow_dispatch:
  schedule:
    - cron: "0 10 * * 3" # evey wednesday at 10AM

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: 3.11
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest httpx[brotli,socks] ffmpeg-progress-yield
    - name: Test with pytest
      run: |
        pytest